amqp==5.0.6
Babel==2.9.1
beautifulsoup4==4.9.1
billiard==3.6.4.0
blinker==1.4
cached-property==1.5.2
cachetools==4.2.2
celery==5.1.2
certifi==2021.5.30
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
crypto==1.4.1
docopt==0.6.2
Flask==1.1.1
Flask-BabelEx==0.9.4
Flask-Cors==3.0.8
Flask-JWT-Extended==4.2.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-mongoengine==0.9.5
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-WTF==0.15.1
flower==1.0.0
google-api-core==1.31.0
google-api-python-client==1.9.3
google-auth==1.33.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.53.0
gunicorn==20.1.0
html2text==2020.1.16
httplib2==0.19.1
humanize==3.10.0
idna==2.8
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==2.10.1
kombu==5.1.0
MarkupSafe==2.0.1
mongoengine==0.18.2
Naked==0.1.31
oauthlib==3.1.1
packaging==21.0
passlib==1.7.1
pipreqs==0.4.10
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==2.1.0
pymongo==3.10.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.2
PyYAML==5.4.1
redis==3.5.3
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.7.2
selenium==3.141.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.2.1
speaklater==1.3
tornado==6.1
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.25.11
vine==5.0.0
wcwidth==0.2.5
Werkzeug==0.15.5
WTForms==2.3.3
yagmail==0.11.224
yarg==0.1.9
zipp==3.5.0
