[Unit]
Description=o24 celery beat scheduler
After=network.target

[Service]
Type=simple
User=o24user
Group=o24user
EnvironmentFile=/etc/celeryd.conf
Environment="PATH=/home/o24user/o24_prod/.venv/bin"
Environment="APP_ENV=Production"
WorkingDirectory=/home/o24user/o24_prod
ExecStart=/bin/sh -c '${CELERY_BIN} beat  \
  -A ${CELERY_APP} --pidfile=${CELERYBEAT_PID_FILE} \
  --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'

Restart=on-failure

[Install]
WantedBy=multi-user.target