[Unit]
Description=Gunicorn instance to serve dev o24 flask backend
After=network.target

[Service]
User=o24user
Group=o24user
WorkingDirectory=/home/o24user/o24_prod
Environment="PATH=/home/o24user/o24_prod/.venv/bin"
Environment="APP_ENV=Production"
ExecStart=/home/o24user/o24_prod/prod_start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

